// @import '../fonts/fonts.scss';
@import './utils/variables';
@import './utils/mixins';
@import './base/fonts';
@import './base/reset';
@import './base/typography';

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li {
    list-style: none;
}
ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__ul {
}
.header--icon {
    color: $secondary-color;
}
.header--p {
    color: rgba(110, 105, 105, 0.822);
}