.countries {
    background-image: url("../assets/images/Australia.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
    margin-top: 6.2%;
    text-align: center;
    color: white;
}

.countries {
    position: relative;

    .box1 {
        position: absolute;
        left: 0;
        top: 40%;
        padding-top: 3%;
        width: 50px;
        height: 120px;
        background-color: rgba(112, 109, 109, 0.375);
    }
}

.countries {
    position: relative;

    .box2 {
        position: absolute;
        right: 0;
        top: 40%;
        padding-top: 3%;
        width: 50px;
        height: 120px;
        background-color: rgba(112, 109, 109, 0.375);
    }
}

.direction {
    width: 100%;
    height: 25vh;
    background-color: black;
    color: white;

    h2 {
        margin-left: 3px;
    }

    input,
    select {
        background-color: rgba(0, 0, 0, 0);
        border: 1px solid gray;
        height: 35px;
        color: gray;
    }
}

.section--destination {
    padding: 5%;
    width: 50%;
    text-align: center;
}

.section--destination p {
    color: rgba(110, 105, 105, 0.822);
}

.newsletter {
    margin-top: 8%;
    background-image: url("../assets/images/newsletter.png");
    background-repeat: no-repeat;
    height: 35vh;
    object-fit: contain;
    padding-top: 2%;
    width: 100%;

    .subscribe {
        width: 60%;
    }

    input {
        height: 45px;
        width: 200px;
        border: none;
        border-radius: 5px;
        margin: 5px;
    }
}

.countriesimg4 {
    background-image: url("../assets/images/Enjoy\ video.png");
    background-repeat: no-repeat;

    i {
        color: $primary-color;
        font-size: 60px;
        transform: scale(0.8);
        animation: start 2s linear infinite;
    }
}

@keyframes start {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1.5);
    }
}

.author {
    position: relative;
    line-height: 2;
    width: 100%;
    text-align: center;
    margin-top: 8%;

    p {
        width: 30%;
    }

    & .micky {
        color: rgba(110, 105, 105, 0.822);
    }

    & i {
        position: absolute;
        top: 38%;
        left: 50%;
        color: white;
        background-color: $primary-color;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        text-align: center;
        padding-top: 10px;
    }

}

.recent {
    margin-top: 10%;

    h2 {
        text-align: center;
        padding-bottom: 5%;
    }

    & img {
        width: 100%;
    }
}

.countriesimg1 {
    background-image: url("../assets/images/aboutus3.png");
    background-repeat: no-repeat;
    filter: brightness(80%);
}

.storyh2 {
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 2%;
}

.story {
    width: 60%;
    margin: 0 auto;
    text-align: start;

    p {
        margin: 1%;
        color: rgba(110, 105, 105, 0.822);
    }
}

.aboutus {
    width: 76%;
    height: 50%;
}

.numbers {
    width: 20%;
    text-align: center;
    margin-top: 10%;
    margin-right: 2%;

    & img {
        margin-bottom: 10%;
    }
}

.countriesimg2 {
    background-image: url("../assets/images/blog.png");
    background-repeat: no-repeat;
    filter: brightness(80%);
}

.filter {
    background-color: white;
    float: left;
    margin-top: 5%;
    margin-right: 2%;
    margin-left: 18%;
    padding: 6%;
    width: 20%;
    border: 1px solid rgb(171, 166, 166);

    select,
    input {
        height: 30px;
        width: 100%;
        margin-bottom: 3px;
        border: 1px solid rgb(171, 166, 166);

    }
}

#range {
    color: $secondary-color;
}

iframe {
    width: 85%;
}

.touch {
    margin: 6%;
    padding: 1%;
    width: 85%;

    textarea {
        width: 100%;
        height: 25vh;
        margin-bottom: 5%;
    }

    input {
        height: 5vh;
        margin-bottom: 5%;
        width: 49%;
    }
}

.buttonwood {
    width: 45%;
    margin-left: 5%;

    .col-6 {
        width: 100%;
        margin-top: 0;
        text-align: justify;
    }
}

#subject {
    width: 100%;
    height: 5vh;
}