
.header__ul {
    & li:hover {
        cursor: pointer;
        color: $primary-color;
        transition: 0.5s linear;
    }
}
header {
    section {
        display: none;
        background-color: gray;
        height: 50px;
        padding-top: 2%;
    }
}

.header__ul-res {
    display: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 80px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    margin-left: 75%;
}