@font-face {
  font-family: "Nothing You Could Do";
  src: url("../assets/fonts/NothingYouCouldDo.woff2") format("woff2"), url("../assets/fonts/NothingYouCouldDo.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-LightItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Light.woff2") format("woff2"), url("../assets/fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Black.woff2") format("woff2"), url("../assets/fonts/Rubik-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-BlackItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Bold.woff2") format("woff2"), url("../assets/fonts/Rubik-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-BoldItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-ExtraBold.woff2") format("woff2"), url("../assets/fonts/Rubik-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-ExtraBoldItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-ExtraBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-LightItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Italic.woff2") format("woff2"), url("../assets/fonts/Rubik-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Light.woff2") format("woff2"), url("../assets/fonts/Rubik-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Regular.woff2") format("woff2"), url("../assets/fonts/Rubik-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-Medium.woff2") format("woff2"), url("../assets/fonts/Rubik-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-SemiBold.woff2") format("woff2"), url("../assets/fonts/Rubik-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  src: url("../assets/fonts/Rubik-SemiBoldItalic.woff2") format("woff2"), url("../assets/fonts/Rubik-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.header {
  font-family: Rubik sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.ul__li--icon {
  font-size: 10px;
}

.countries {
  font-weight: 400;
}
.countries h1 {
  font-family: "Nothing You Could Do", cursive;
  font-size: 150px;
}
.countries p,
.countries button {
  font-family: Rubik, san-serif;
  font-size: 20px;
}

.section--destination {
  line-height: 2;
  font-size: 15px;
}

.place {
  font-size: 22px;
}

.newsletter {
  line-height: 1.5;
}
.newsletter h2 {
  color: white;
}
.newsletter p {
  color: gray;
}

.placescard {
  line-height: 2;
}
.placescard p,
.placescard span,
.placescard .fa-clock {
  color: rgba(110, 105, 105, 0.822);
}
.placescard h4 {
  font-size: 18px;
  transition: 0.2s linear;
}
.placescard h4:hover {
  color: rgb(255, 74, 82);
}

.countriesimg4 {
  font-size: 100px;
}

.serenity {
  line-height: 1.5;
}
.serenity h3 {
  font-size: 25px;
}
.serenity p {
  color: rgba(110, 105, 105, 0.822);
}

.recent h2 {
  font-size: 40px;
}
.recent p {
  color: rgba(110, 105, 105, 0.822);
}
.recent h4 {
  font-size: 25px;
}

.countriesimg1 {
  font-weight: 300;
}
.countriesimg1 h1 {
  font-size: 100px;
}
.countriesimg1 p,
.countriesimg1 button {
  font-family: Rubik, san-serif;
  font-size: 20px;
}

.storyh2 {
  font-size: 35px;
}

.story {
  line-height: 2;
}

.numbers {
  line-height: 1.5;
}
.numbers h3 {
  color: rgb(255, 74, 82);
  font-size: 35px;
}
.numbers p {
  color: rgba(110, 105, 105, 0.822);
}

.filter {
  line-height: 2;
}

.buttonwood p {
  line-height: 1.5;
  color: gray;
}
.buttonwood i {
  font-size: 25px;
  color: gray;
}
.buttonwood span,
.buttonwood p {
  font-size: 20px;
}
.buttonwood span {
  font-weight: 450;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.container {
  width: 85%;
  margin: 0 auto;
}

[class|=col] {
  padding: 6px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__ul,
.header__p--icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;
}

.direction {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0 auto;
}

.section--destination {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
}

.newsletter {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
.newsletter input,
.newsletter button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.places--btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.serenity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-right: 2%;
}

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: o auto;
}

iframe {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.touch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.buttonwood {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  width: 100%;
  height: 13vh;
  background-color: rgba(255, 255, 255, 0.905);
  top: 0;
  z-index: 999;
}

.header--img {
  margin-left: 4%;
}
.header--img:hover {
  cursor: pointer;
}

.header__p {
  margin-left: 15%;
}
.header__p .header__p--icon {
  color: rgb(255, 74, 82);
}

.header__p--icons {
  color: rgba(110, 105, 105, 0.822);
}
.header__p--icons i:hover {
  cursor: pointer;
  color: rgb(255, 74, 82);
  transition: 0.5s linear;
}

.header__ul li:hover {
  cursor: pointer;
  color: rgb(30, 198, 182);
  transition: 0.5s linear;
}

header section {
  display: none;
  background-color: gray;
  height: 50px;
  padding-top: 2%;
}

.header__ul-res {
  display: none;
  color: white;
  background-color: black;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  margin-left: 75%;
}

.header__btn {
  background-color: rgb(255, 74, 82);
  color: white;
  width: 90px;
  height: 13vh;
  border: none;
}
.header__btn:hover {
  cursor: pointer;
}

.countries button {
  width: 180px;
  height: 50px;
  color: white;
  background-color: rgb(30, 198, 182);
  border: none;
  border-radius: 5px;
  margin-top: 2%;
  transition: 0.5s;
}
.countries button:hover {
  cursor: pointer;
  background-color: rgb(255, 74, 82);
}

.direction button {
  color: white;
  background-color: rgb(255, 74, 82);
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.direction button:hover {
  cursor: pointer;
  background-color: rgb(30, 198, 182);
}

.place--btn {
  width: 80px;
  height: 25px;
  color: white;
  border-radius: 5px;
  background-color: rgb(30, 198, 182);
  border: none;
}

.newsletter button {
  color: white;
  background-color: rgb(255, 74, 82);
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.newsletter button:hover {
  cursor: pointer;
  background-color: rgb(30, 198, 182);
}

.placescard button {
  position: absolute;
  top: 15px;
  left: 20px;
  color: white;
  background-color: rgb(30, 198, 182);
  height: 25px;
  width: 60px;
  border: none;
  border-radius: 25px;
  transition: 0.5s;
}
.placescard button:hover {
  cursor: pointer;
  background-color: rgb(255, 74, 82);
}

.places .places--btn {
  color: white;
  background-color: rgb(255, 74, 82);
  height: 50px;
  width: 120px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
}
.places .places--btn:hover {
  cursor: pointer;
  background-color: rgb(30, 198, 182);
}

.filter button {
  width: 100%;
  height: 40px;
  background-color: rgb(255, 74, 82);
  color: white;
  border: none;
}

.touch button {
  color: white;
  background-color: rgb(30, 198, 182);
  width: 40%;
  border: none;
  height: 40px;
}

.destination--relative1,
.destination--relative2,
.destination--relative3,
.destination--relative4,
.destination--relative5,
.destination--relative6 {
  position: relative;
  transition: 0.2s linear;
}
.destination--relative1:hover,
.destination--relative2:hover,
.destination--relative3:hover,
.destination--relative4:hover,
.destination--relative5:hover,
.destination--relative6:hover {
  transform: translateY(-2%);
}
.destination--relative1:hover span,
.destination--relative2:hover span,
.destination--relative3:hover span,
.destination--relative4:hover span,
.destination--relative5:hover span,
.destination--relative6:hover span {
  color: rgb(255, 74, 82);
}
.destination--relative1:hover button,
.destination--relative2:hover button,
.destination--relative3:hover button,
.destination--relative4:hover button,
.destination--relative5:hover button,
.destination--relative6:hover button {
  background-color: rgb(255, 74, 82);
}

.place {
  position: absolute;
  top: 220px;
  left: 30px;
  color: white;
}

.destination img {
  filter: brightness(70%);
  width: 100%;
}

.placescard {
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 31%;
  margin: 10px;
}
.placescard img {
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  width: 100%;
}
.placescard .fa-star {
  color: rgb(253, 174, 92);
}
.placescard .days {
  gap: 20px;
}

.serenity {
  width: 20%;
  text-align: center;
  margin-top: 10%;
}
.serenity img {
  margin-bottom: 10%;
}

.countries {
  background-image: url("../assets/images/Australia.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
  margin-top: 6.2%;
  text-align: center;
  color: white;
}

.countries {
  position: relative;
}
.countries .box1 {
  position: absolute;
  left: 0;
  top: 40%;
  padding-top: 3%;
  width: 50px;
  height: 120px;
  background-color: rgba(112, 109, 109, 0.375);
}

.countries {
  position: relative;
}
.countries .box2 {
  position: absolute;
  right: 0;
  top: 40%;
  padding-top: 3%;
  width: 50px;
  height: 120px;
  background-color: rgba(112, 109, 109, 0.375);
}

.direction {
  width: 100%;
  height: 25vh;
  background-color: black;
  color: white;
}
.direction h2 {
  margin-left: 3px;
}
.direction input,
.direction select {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid gray;
  height: 35px;
  color: gray;
}

.section--destination {
  padding: 5%;
  width: 50%;
  text-align: center;
}

.section--destination p {
  color: rgba(110, 105, 105, 0.822);
}

.newsletter {
  margin-top: 8%;
  background-image: url("../assets/images/newsletter.png");
  background-repeat: no-repeat;
  height: 35vh;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 2%;
  width: 100%;
}
.newsletter .subscribe {
  width: 60%;
}
.newsletter input {
  height: 45px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.countriesimg4 {
  background-image: url("../assets/images/Enjoy video.png");
  background-repeat: no-repeat;
}
.countriesimg4 i {
  color: rgb(30, 198, 182);
  font-size: 60px;
  transform: scale(0.8);
  animation: start 2s linear infinite;
}

@keyframes start {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.5);
  }
}
.author {
  position: relative;
  line-height: 2;
  width: 100%;
  text-align: center;
  margin-top: 8%;
}
.author p {
  width: 30%;
}
.author .micky {
  color: rgba(110, 105, 105, 0.822);
}
.author i {
  position: absolute;
  top: 38%;
  left: 50%;
  color: white;
  background-color: rgb(30, 198, 182);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;
}

.recent {
  margin-top: 10%;
}
.recent h2 {
  text-align: center;
  padding-bottom: 5%;
}
.recent img {
  width: 100%;
}

.countriesimg1 {
  background-image: url("../assets/images/aboutus3.png");
  background-repeat: no-repeat;
  filter: brightness(80%);
}

.storyh2 {
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 2%;
}

.story {
  width: 60%;
  margin: 0 auto;
  text-align: start;
}
.story p {
  margin: 1%;
  color: rgba(110, 105, 105, 0.822);
}

.aboutus {
  width: 76%;
  height: 50%;
}

.numbers {
  width: 20%;
  text-align: center;
  margin-top: 10%;
  margin-right: 2%;
}
.numbers img {
  margin-bottom: 10%;
}

.countriesimg2 {
  background-image: url("../assets/images/blog.png");
  background-repeat: no-repeat;
  filter: brightness(80%);
}

.filter {
  background-color: white;
  float: left;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 18%;
  padding: 6%;
  width: 20%;
  border: 1px solid rgb(171, 166, 166);
}
.filter select,
.filter input {
  height: 30px;
  width: 100%;
  margin-bottom: 3px;
  border: 1px solid rgb(171, 166, 166);
}

#range {
  color: rgb(255, 74, 82);
}

iframe {
  width: 85%;
}

.touch {
  margin: 6%;
  padding: 1%;
  width: 85%;
}
.touch textarea {
  width: 100%;
  height: 25vh;
  margin-bottom: 5%;
}
.touch input {
  height: 5vh;
  margin-bottom: 5%;
  width: 49%;
}

.buttonwood .col-6 {
  width: 50%;
  margin-top: 0;
  text-align: justify;
}

#subject {
  width: 100%;
  height: 5vh;
}

footer {
  width: 100%;
  background-color: black;
  color: white;
}

.footer {
  margin-top: 5%;
  line-height: 2;
}
.footer i {
  padding: 7px;
}
.footer .col-3 i:hover,
.footer .col-3 p:hover,
.footer .col-3 span:hover,
.footer .col-3 h4:hover {
  color: rgb(255, 74, 82);
}
.footer .span {
  padding-right: 15%;
}

@media (max-width: 768px) {
  .header__ul-res {
    display: block;
    margin-left: 80%;
  }
  .header__p,
  .header__p--icons,
  .header__ul {
    display: none;
  }
  header section {
    display: block;
    background-color: gray;
    height: 50px;
    padding-top: 1%;
  }
  .countries h1 {
    font-size: 80px;
  }
  .countries {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .countries {
    height: 60vh;
  }
  .countriesimg3 {
    margin-bottom: -25%;
  }
  .direction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .destination--relative1,
  .destination--relative2,
  .destination--relative3,
  .destination--relative4,
  .destination--relative5,
  .destination--relative6 {
    position: relative;
  }
  .destination--relative1 .place,
  .destination--relative2 .place,
  .destination--relative3 .place,
  .destination--relative4 .place,
  .destination--relative5 .place,
  .destination--relative6 .place {
    position: absolute;
    top: 390px;
    left: 30px;
  }
  .row {
    flex-direction: column;
  }
  [class|=col] {
    width: 100%;
  }
  .author {
    position: relative;
  }
  .author i {
    position: absolute;
    top: 33%;
    left: 51%;
  }
  .author .footer {
    margin-top: 5%;
    line-height: 2;
  }
  .author .footer-img {
    width: 100%;
  }
  .storyh2 {
    margin-left: 8%;
  }
  .aboutus {
    margin-left: -10%;
  }
  .filter {
    float: none;
    width: 75%;
    margin-left: 12%;
  }
  .col-6 {
    width: 100%;
  }
}
.touch {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countriesimg3 {
  background-image: url("../assets/images/destination.png");
  background-repeat: no-repeat;
  filter: brightness(80%);
  margin-bottom: -5%;
}

.blogcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog {
  width: 50%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  margin-top: -5%;
  text-align: left;
}
.blog button {
  width: 90px;
  height: 70px;
  background-color: rgb(255, 74, 82);
  color: white;
  font-size: 28px;
  border-radius: 5px;
  border: none;
  position: absolute;
  top: 60%;
  left: 15%;
}
.blog button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.03);
  color: rgb(255, 74, 82);
}
.blog .comments {
  margin-top: 2%;
  text-align: left;
  line-height: 2;
  font-size: 15px;
  color: rgba(110, 105, 105, 0.822);
}
.blog .comments span :hover {
  color: rgb(255, 74, 82);
}

.blog_1 {
  width: 80%;
  text-align: left;
  line-height: 2;
}
.blog_1 h3 {
  margin-top: 10%;
  font-size: 25px;
}
.blog_1 h3:hover {
  color: rgb(255, 74, 82);
}
.blog_1 p {
  font-size: 15px;
  color: rgba(110, 105, 105, 0.822);
}
.blog_1 button {
  position: absolute;
  top: 15%;
  left: 12%;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid gray;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  margin: 50px 7px;
}
.box:hover {
  cursor: pointer;
  color: rgb(255, 74, 82);
}

.search {
  width: 100%;
  border: 1px solid red;
  background-color: rgb(243, 249, 251);
}
.search input,
.search button {
  width: 80%;
  height: 50px;
  margin: 2%;
  border: none;
}
.search button {
  background-color: rgb(30, 198, 182);
  color: white;
}
.search button:hover {
  background-color: rgb(255, 74, 82);
}

.blogrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  font-size: 20px;
}
.category h5 {
  font-size: 20px;
}
.category p,
.category hr {
  color: gray;
}

.category {
  line-height: 2;
  border: 1px solid red;
  width: 100%;
  margin-top: 2%;
  background-color: rgb(251, 249, 255);
}

.recentpost {
  border: 1px solid red;
  width: 100%;
  margin-top: 2%;
}

.post1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post1,
.post1text {
  width: 65%;
  margin: 3%;
}

.post1text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tag {
  width: 100%;
  border: 1px solid red;
  margin: 3%;
  padding: 5%;
}
.tag button {
  width: 75px;
  height: 2%;
  background-color: white;
  border: 1px solid rgb(219, 216, 216);
  margin-top: 5%;
}

@media (max-width: 768px) {
  .countriesimg3 {
    margin-bottom: -25%;
  }
}/*# sourceMappingURL=main.css.map */